body {
    background-color: #8a334a;
}

header {
    padding: 20px;
}

.wipe {
    height: 90%;
    display: block;
    margin: auto;
    overflow: hidden;
}

.scrollbox {
    height: calc(100% - 40px);
    margin-top: 20px;
    overflow: auto;
}

.postbox {
    height: 30vh;
    width: 95%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    background-color: #d1d1d1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}

.posttext {
    resize: none;
}

.posttopic {
    width: 20vh;
    background-color: #8a334a;
}

.postcontent {
    flex: 1;
    margin-right: 0;
    padding: 20px;
    line-height: 30px;
    text-align: justify;
}

.postactions {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.postactions > * {
    height: 100%;
    width: 8vh;
}

.post_form_option {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post_form_section {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.navbutton {
    background-color: gainsboro;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: 0.2s;

    margin: 2vh auto 1vh auto;
    width: 40px;
    height: 40px;
}

.navbutton:hover {
    background-color: grey;
    width: 45px;
    height: 45px;
}

.personalpanel {
    width: 7vw;
    height: 98vh;
    background-color: #8a334a;
    display: flex;
    flex-direction: column;
}

.controls {
    display: flex;
    flex-direction: column;
}

.control_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.control_icon {
    width: 3vh;
    height: 3vh;
}

.socialbox {
    background-color: gainsboro;
    border-radius: 5px;
    display: flex;
    width: 85%;
    float: left;
    margin-left: 5%;
    margin-bottom: 2vh;
    overflow: hidden;
    padding: 5%;
    justify-content: space-around;
}

.groupbox {
    height: 5.12vh;
    transition: 0.7s;
}

.groupbox:hover {
    height: 30vh;
}

.scroll {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: justify;
    scrollbar-color: #8a334a gainsboro;
}

.userform {
    width: 40%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.userformcontainer {
    width: 100%;
    text-align: center;
    color: grey;
}

.formfield {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 10px 0px 10px 0px;
    font-size: 20px;
    text-align: center;
}

.formfield > input {
    height: 30px;
    border-radius: 5px;
    border-color: inherit;
}

.formfield > label {
    display: flex;
    align-items: center;
}

.message {
    margin:20px;
    display: flex;
    flex-direction: row;
}

.messageprofileimgcropper {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    overflow: hidden;
}

.navbuttonscropper {
    display: inline-block; 
    width: 40px; 
    height: 40px; 
    overflow: hidden;
}

.imgcropper{
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 4.5px;
}

.usersList{
    width: 40%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.alignCenter{
    width: 40%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.profileContainer{
    display: flex;
    align-items: center;
}

.profilePicInfo {
    border-radius: 50%;
    overflow: hidden;
    display: block;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
    width: 130px;
    height: 130px;
}

.profileTextInfo{
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    text-align: left;
    transition: 0.2s;
    margin-left: 20px;

    /* margin: 2vh auto 1vh auto; */
    width: 300px;
    height: 180px;
}

.messagetext {
    width: 80%;
}

.diaphragm {
    flex: 1;
    margin-bottom: 0;
}

.hiddensection {
    display: none;
}

/* Layout 1 */
.layout1_main {
    flex: 1;
    margin-right: 0;
    height:98vh;
    background-color: gainsboro;
    scrollbar-color: #8a334a gainsboro;
    overflow: hidden;
    border-radius: 5px;
}
.layout1_aside {
    height: 98vh;
    width: 30vw;
    background-color: #8a334a;
    display: flex;
    flex-direction: column;
}

/* Layout 2 */
.layout2_main {
    flex: 1;
    margin-right: 0;
    height:98vh;
    background-color: gainsboro;
    scrollbar-color: #8a334a gainsboro;
    overflow: hidden;
    border-radius: 5px;


    display: flex;
    flex-direction: column;
}
.layout2_aside {
    height: 98vh;
    width: 30vw;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}
.layout2_aside_fade {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(138,51,74,0) 95%, rgba(138,51,74,0));
    pointer-events: none;
}

.radio_option {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #8a334a;
    text-align: center;
    border-radius: 5px;
}

.radio_option.click {
    background-color: cadetblue;
}

.createbox {
    /* height: 10vh; */
}

.profileimg {
    width: inherit;
    max-width: 100%;
    max-height: 100%;
}

.profileimgcropper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s;
    overflow: hidden;
}

.profileimgcropper:hover {
    width: 60px;
    height: 60px;
}

.cinemas_aderidos {
    text-align: center;
}

.cinemas_aderidos > ul {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cinema_aderir_input {
    height: inherit;
    width: 20px;
    flex: 1;
    margin-right: 0;
}

.cinema_aderir_name {
    width: 100%;
    margin-left: 10px;
}

#group_messages_body {
    height: calc(100% - 60px);
    width: 100%;
    overflow: auto;
}

#message_form {
    height: 60px;
}

#message_input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 15px;
    resize: none;
    overflow-y: auto;
    scrollbar-width: none;
}















#noaside {
    width: 7vw;
}

#fixedcontent {
    display: flex;
    flex-direction: row;
    grid-template-columns: 7vw 63vw 30vw;
}

#username {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1vw;
    font-size: 17px;
    font-weight: bold;
}

#creategroupbox {
    /* height: 10vh; */
}

#dontknowbox {
    flex: 1;
    margin-bottom: 0;
}

#cinema_search_form {
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#cinema_search_form > label {
    font-size: 20px;
}

#cinema_search_input {
    width: 100%;
    height: 30px;
}

#cinema_search_input_section {
    display: flex;
    flex-direction: row;
}
