{% extends 'movies/layout2.html' %}

{% load static %}

{% block main_content %}
    <section id="group_messages_body">
        <section id="message_template" class="hiddensection">
            <section class="messageprofileimgcropper">
                <img class="profileimg" src="{% static 'movies/images/noprofileimg.png' %}"/>
            </section>
            <section class="messagetext">
            </section>
        </section>
        {% for message in messages_list %}
            <section id="message_{{ message.id }}" class="message">
                <section class="messageprofileimgcropper">
                    <img class="profileimg" src="{% static 'movies/images/noprofileimg.png' %}"/>
                </section>
                <section class="messagetext">
                    {{ message.texto }}
                </section>
            </section>
        {% endfor %}
    </section>
    <section class="diaphragm">
    </section>
    <form id="messageform">
        {% csrf_token %}
        <input id="message_input" name="message_input"/>
        <input id="group_id" name="group_id" type="number" value="{{ group_id }}" hidden="hidden"/>
        <input type="submit" hidden="hidden"/>
    </form>
{% endblock %}

{% block aside_content %}
    <a id="creategroupbox" class="socialbox" href="{% url 'movies:createGroup' %}">Create Group</a>
    {% if groups_list %}
        {% for group in groups_list %}
            <a class="socialbox groupbox" href="{% url 'movies:group' group.id %}">
                <section class="scroll">
                    {{ group.nome }}
                </section>
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block noaside %}{% endblock %}