{% extends 'movies/layout2.html' %}

{% load static %}

{% block main_content %}
    {% if mensagens_list %}
        {% for mensagem in mensagens_list %}
            <section class="message">
                <section class="messageprofileimgcropper">
                    <img id="profileimg" src="{% static 'movies/images/noprofileimg.png' %}"/>
                </section>
                <section class="messagetext">
                    {{ mensagem.texto }}
                </section>
            </section>
        {% endfor %}
    {% endif %}
    <section class="message">
        <section class="messageprofileimgcropper">
            <img id="profileimg" src="{% static 'movies/images/noprofileimg.png' %}"/>
        </section>
        <section class="messagetext">
            Teegcg qd uh ewicjwidje diejd ifiofoifnw ifn wiediqe djiqejdi.
        </section>
    </section>
    <section class="message">
        <section class="messageprofileimgcropper">
            <img id="profileimg" src="{% static 'movies/images/noprofileimg.png' %}"/>
        </section>
        <section class="messagetext">
            Ojbdiuwiqdeu ubqwuidhi wud wbdqui sxabduwquduqwhd axbduwqw qwuhdiuqdhqhd dwqb wqhud.
        </section>
    </section>
    <section class="message">
        <section class="messageprofileimgcropper">
            <img id="profileimg" src="{% static 'movies/images/noprofileimg.png' %}"/>
        </section>
        <section class="messagetext">
            Adkma ud  aidaduameiwd  edhweudhaeuh audh nedewf hfurfh ffh rfhu rhu  sudh suhfe.
        </section>
    </section>
    <section class="message">
        <section class="messageprofileimgcropper">
            <img id="profileimg" src="{% static 'movies/images/noprofileimg.png' %}"/>
        </section>
        <section class="messagetext">
            Ojbdiuwiqdeu ubqwuidhi wud wbdqui sxabduwquduqwhd axbduwqw qwuhdiuqdhqhd dwqb wqhud.
        </section>
    </section>
    <section class="message">
        <section class="messageprofileimgcropper">
            <img id="profileimg" src="{% static 'movies/images/noprofileimg.png' %}"/>
        </section>
        <section class="messagetext">
            Sd sh sudhwuh dhue duhhd dudhd eudhaduhiedheuhdd audha.
        </section>
    </section>
{% endblock %}

{% block aside_content %}
    <section class="socialbox groupbox">
        <section class="scroll">

        </section>
    </section>
    <section class="socialbox groupbox">
        <section class="scroll">

        </section>
    </section>
    <section class="socialbox groupbox">
        <section class="scroll">

        </section>
    </section>
    <section class="socialbox groupbox">
        <section class="groupimage">

        </section>
    </section>
    <section class="socialbox groupbox">
        <section class="scroll">

        </section>
    </section>
    <section class="socialbox groupbox">
        <section class="scroll">

        </section>
    </section>
    <section class="socialbox groupbox">
        <section class="scroll">

        </section>
    </section>
    <section class="socialbox groupbox">
        <section class="groupimage">

        </section>
    </section>
    <section class="socialbox groupbox">
        <section class="scroll">

        </section>
    </section>
    <section class="socialbox groupbox">
        <section class="scroll">

        </section>
    </section>
    <section class="socialbox groupbox">
        <section class="scroll">

        </section>
    </section>
    <section class="socialbox groupbox">
        <section class="groupimage">

        </section>
    </section>
    <section class="socialbox groupbox">
        <section class="scroll">

        </section>
    </section>
    <section class="socialbox groupbox">
        <section class="scroll">

        </section>
    </section>
    <section class="socialbox groupbox">
        <section class="scroll">

        </section>
    </section>
    <section class="socialbox groupbox">
        <section class="groupimage">

        </section>
    </section>
{% endblock %}

{% block noaside %}{% endblock %}