{% extends 'movies/layout1.html' %}

{% load static %}

{% block main_content %}
    <section class="scrollbox">
        {% if publicacoes_list %}
            {% for publicacao in publicacoes_list %}
                <section class="postbox">
                    <section class="posttopic">
                        .
                        <section class="posttopicimage"></section>
                        <section class="posttopictitle"></section>
                    </section>
                    <section class="postcontent">
                        <section class="posttext">
                            {{ publicacao.texto }}
                        </section>
                    </section>
                </section>
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}

{% block controls_content %}
    {% if user.is_authenticated %}
        <a class="control_row" href="{% url 'movies:createPost' %}">
            <img class="control_icon" src="{% static 'movies/images/plus.png' %}"/>
            <p class="control_name">Criar Publicação</p>
        </a>
        <a class="control_row">
            <img class="control_icon" src="{% static 'movies/images/plus.png' %}"/>
            <p class="control_name">Criar Grupo</p>
        </a>
        <a class="control_row">
            <img class="control_icon" src="{% static 'movies/images/plus.png' %}"/>
            <p class="control_name">Publicações Globais</p>
        </a>
        <a class="control_row">
            <img class="control_icon" src="{% static 'movies/images/plus.png' %}"/>
            <p class="control_name">Publicações Cinemas</p>
        </a>
        <a class="control_row">
            <img class="control_icon" src="{% static 'movies/images/plus.png' %}"/>
            <p class="control_name">Publicações Grupos</p>
        </a>
    {% endif %}
{% endblock %}

{% block aside_content %}
    {% if user.is_authenticated %}
        <section id="dontknowbox" class="socialbox">
            Filmes nos cinamas locais (Com setas à esquerda e direita para ver a lista de filmes)
        </section>
    {% endif %}
{% endblock %}