{% extends 'movies/userform.html' %}

{% load static %}

<!DOCTYPE html>
<html>

<main>
    {% block main %}
    <div class="alignCenter">
        <h1>Utilizadores:</h1>

        {% if users_list %}
            {% for user in users_list %}
            <li>
                <a href="{% url 'movies:userOptions' user.id %}">{{ user.user }}</a>
            </li>
            {% endfor %}
        {% else %}
        <p>Nao ha utilizadores disponiveis.</p>
        {% endif %}
    </div>
    {% endblock %}
</main>

</html>